html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-size: 2rem;
    line-height: 2;
    background-color: #e1e1e1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

